<h1>Add a new Operation</h1>
<%= form_with model: @operation, url: user_category_operations_path  do |form|%>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @operation.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount, step: :any %><br>
    <% @operation.errors.full_messages_for(:amount).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.where(user_id: current_user.id), :id, :name%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
